/* home-page.component.css */
.home-container {
  height: 100%; /* ajusta si tu toolbar es más alta */
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
}

.text-h1{
  font-size: 1.5rem;
  color: #1976d2; /* color primario de Angular Material */
}
